.folder-grid {
  display: grid;
  grid-template-columns: var(--collection-grid-columns);
  grid-auto-rows: 54px;
  gap: var(--collection-grid-gap);
}
.folder-card--create {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
}

.folder-card--create > .collection-entry__content {
  display: none;
}
