.sidebar {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);

  height: 100%;

  padding-block: var(--space-16);
  padding-inline: var(--space-12);
}
.sidebar--content {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
  flex: 1;
  min-height: 0;
}
