.section-header .entry__content {
  gap: 0;
}
/* actions */
.section-header__caret {
  opacity: 0;
  transition: opacity 300ms ease;
}

.entry:hover .section-header__caret,
.entry:focus-visible .section-header__caret {
  opacity: 1;
}

.section-header__content {
  display: flex;
  align-items: center;
}
.section-header__content-toggle {
  cursor: pointer;
  transition: color 300ms ease;
}
