.section-header .entry__content {
  gap: 0;
}
/* actions */
.section-header__caret {
  opacity: 0;
  transition: opacity 150ms ease;
}

.entry:hover .section-header__caret,
.entry:focus-visible .section-header__caret {
  opacity: 1;
}

.section-header__content,
.section-header__toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.section-header__toggle:hover .section-header__title,
.section-header__toggle:hover .section-header__caret {
  color: var(--foreground-secondary);
}

/* .section--expanded:hover .section-header__caret {
  opacity: 1;
} */
