.primary {
  color: var(--foreground-primary);
}
.secondary {
  color: var(--foreground-secondary);
}
.tertiary {
  color: var(--foreground-tertiary);
}
.placeholder {
  color: var(--foreground-placeholder);
}
