.date-label {
  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--height-xs);
  aspect-ratio: 1;

  border-radius: var(--radius-sm);
}
.date-label--today {
  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--height-xs);
  aspect-ratio: 1;

  background: transparent;
  border-radius: var(--radius-sm);
}

.date-label__today {
  width: 10px;
  height: 10px;
  border-radius: 999px;

  background: var(--calendar-accent);
}

.date-label__date {
  font-size: var(--text-label);
  color: var(--text-tertiary);
}
