.view {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  flex: 1;
  min-height: 0;
}
.view--navigation {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
}
.view--content {
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: var(--space-4);
  padding-bottom: var(--space-32);
}
