.view {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}
.view--navigation {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
}
.view--content {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: var(--space-4);
}
