/* Root */
.interactive-item {
  --interactive-item-padding-left: var(--space-6);
  --interactive-item-padding-right: var(--space-6);
  display: flex;
  align-items: center;
  min-height: var(--height-xl);
  padding-left: var(--interactive-item-padding-left);
  padding-right: var(--interactive-item-padding-right);
  border-radius: var(--radius-md);
  user-select: none;
  gap: var(--space-6);
  width: 100%;
}

/* Structural slots */
.interactive-item__start-slot,
.interactive-item__end-slot {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 100%;
}

.interactive-item__content-slot {
  display: flex;
  align-items: center;
  min-width: 0;
  flex: 1;
}

/* Structural elements */
.interactive-item__label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.interactive-item__icon {
  display: flex;
  align-items: center;
  color: var(--text-secondary);
}

.interactive-item__icon--disabled {
  color: var(--state-disabled);
}

/* Expand affordances */

.interactive-item__inline-caret-trigger {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;

  padding-block: 0;
  padding-inline: 0 var(--space-4);

  border: none;
  background: transparent;

  color: inherit;
  cursor: pointer;
}

.interactive-item__inline-caret {
  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--height-xs);
  height: var(--height-xs);

  transition: transform 120ms ease;
}

.interactive-item__inline-caret--expanded {
  transform: rotate(90deg);
}

.interactive-item__inline-caret--disabled {
  opacity: var(--opacity-subtle);
}

.interactive-item__header-chevron {
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;

  transition:
    opacity 120ms ease,
    transform 120ms ease;
}

.interactive-item__header-chevron--expanded {
  transform: rotate(90deg);
}

.interactive-item--header:not(.interactive-item--disabled):hover
  .interactive-item__header-chevron {
  opacity: 1;
}

/* Variants */
/* .interactive-item--navigation {
} */

.interactive-item--header {
  color: var(--text-tertiary);
  font-size: var(--text-label);
  font-weight: var(--fw-medium);
  line-height: var(--lh-label);
}

.interactive-item--subheader {
  height: var(--height-sm);
  color: var(--text-placeholder);
  font-size: var(--text-label);
  font-weight: var(--fw-medium);
  line-height: var(--lh-label);
}

.interactive-item--placeholder {
  color: var(--text-placeholder);
  font-size: var(--text-label);
  font-weight: var(--fw-regular);
  line-height: var(--lh-label);
}

/* States */
.interactive-item--interactive {
  cursor: pointer;
}

.interactive-item--interactive:hover {
  background: var(--surface-hover);
}

.interactive-item--active {
  background: var(--surface-active);
  color: var(--text-primary);
}
.interactive-item--active .interactive-item__icon {
  color: var(--text-primary);
}

.interactive-item--disabled {
  opacity: var(--state-disabled);
  cursor: default;
}
.interactive-item--disabled:hover {
  background: transparent;
}
