.clutter-sidebar-tabs {
  display: flex;
  align-items: center;
  gap: var(--space-12);
  height: var(--height-lg);
  width: 100%;
}

.clutter-sidebar-tabs__rail {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
  gap: var(--space-2);
  padding: var(--space-2);
  border-radius: var(--radius-lg-plus);
  height: 100%;
  width: 100%;
  background: var(--surface-tertiary);
}

.clutter-sidebar-tabs__search.clutter-btn--secondary {
  background: var(--surface-tertiary);
}

/* Tabs childrens */
.clutter-sidebar-tabs__active-indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: calc(100% - 4px);
  border-radius: var(--radius-lg);
  border: 1px solid var(--tab-active-border);
  background: var(--tab-active);
  overflow: hidden;

  transition:
    left 500ms cubic-bezier(0.22, 1, 0.36, 1),
    width 500ms cubic-bezier(0.22, 1, 0.36, 1);
}

.clutter-sidebar-tabs__tab {
  flex: 1;
  z-index: 1;
  height: 100%;
}

/* Tab buttons overrides */
.clutter-sidebar-tabs__tab.clutter-btn--ghost {
  color: var(--text-tertiary);
  background: transparent;
}

.clutter-sidebar-tabs__tab.clutter-btn--ghost:hover:not(:disabled) {
  color: var(--text-primary);
  background: transparent;
}

/* Pressed state */
.clutter-sidebar-tabs__tab.clutter-btn--ghost:active:not(:disabled) {
  background: transparent;
  opacity: var(--opacity-subtle);
}

.clutter-sidebar-tabs__tab.clutter-btn--ghost.clutter-btn--active {
  color: var(--text-primary);
  background: transparent;
}
