.confirmation {
  display: flex;
  flex-direction: column;
  background: var(--surface-secondary);
  border-radius: var(--radius-xxl);
  padding: var(--space-16);

  box-shadow: var(--shadow-border-default), var(--shadow-md);
  gap: var(--space-24);
}
.confirmation__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}
.confirmation__header {
  font-size: var(--text-body);
  font-weight: var(--fw-bold);
  color: var(--foreground-primary);
}
.confirmation__body {
  color: var(--foreground-secondary);
}
.confirmation__actions {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: var(--space-12);
}
.confirmation__actions .button {
  flex: 1;
}
.button-danger {
  color: var(--calendar-accent);
  background: rgba(255, 0, 0, 0.1);
  opacity: var(--opacity-subtle);
}
