.entry {
  display: flex;
  align-items: center;

  width: 100%;
  height: var(--height-lg);
  border-radius: var(--radius-lg);
  gap: var(--btn-gap-md);

  padding-right: var(--space-6);
  padding-left: calc(var(--space-6) + (var(--tree-level) * 16px));

  color: var(--text-secondary);

  font-size: var(--text-body-small);
  line-height: var(--lh-body-small);

  transition:
    background-color 120ms ease,
    color 120ms ease;
}

.entry-interactive {
  cursor: pointer;
}

.entry-interactive:not(.entry-disabled):not(.entry-selected):hover,
.entry-active:not(.entry-disabled):not(.entry-selected) {
  background: var(--state-hover);
}

.entry-interactive:active:not(.entry-selected):not(:has(button:active)) {
  background: var(--state-pressed);
}

.entry__leading,
.entry__trailing {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-0);

  height: 100%;
  flex-shrink: 0;
}

.entry__meta {
  display: flex;
  align-items: center;
  color: var(--icon-tertiary);

  transition: opacity 160ms ease;
}

.entry__content {
  position: relative;

  display: flex;
  align-items: center;
  gap: var(--space-4);

  flex: 1;
  min-width: 0;
  height: 100%;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* actions */
.entry__actions,
.section-header__caret {
  width: 0;
  display: flex;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 150ms ease;
}
.entry:hover .entry__actions,
.entry:focus-visible .entry__actions,
.entry:hover .section-header__caret,
.entry:focus-visible .section-header__caret {
  width: auto;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.entry:hover .entry__meta,
.entry:focus-visible .entry__meta {
  width: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* interaction */
.entry-selected {
  background: var(--state-active);
  color: var(--text-primary);
}

.entry-disabled {
  opacity: var(--state-disabled);
  cursor: not-allowed;
}

/* Object type specific classes */
.is-completed {
  color: var(--strikethrough-color);
  text-decoration: line-through;
  text-decoration-thickness: 0.09em;
}
.section-header {
  font-size: var(--text-label);
  line-height: var(--lh-label);
  color: var(--text-tertiary);
}
.section-header::first-letter {
  text-transform: capitalize;
}
