.calendar-weekdays-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.calendar-weekday {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--height-md);
  border-radius: var(--radius-sm);
  color: var(--calendar-weekday-foreground);
  font-size: var(--text-caption);
  letter-spacing: var(--ls-caption);
  font-weight: var(--fw-regular);
}
