.fenced-code-language-picker {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);

  width: 220px;
  max-height: calc(100dvh - 16px);

  background: var(--surface-secondary);
  border-radius: var(--radius-xxl);
  padding: var(--space-8);

  box-shadow: var(--shadow-inset-default), var(--shadow-md);
}

.fenced-code-language-picker__header {
  display: flex;
  align-items: center;
  gap: var(--space-4);
  padding-inline-start: var(--space-4);
}

.fenced-code-language-picker__title {
  color: var(--foreground-primary);
}

.fenced-code-language-picker__list {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  overflow: auto;
  overscroll-behavior: contain;
}

.fenced-code-language-picker__empty {
  padding: var(--space-8) var(--space-12);
  color: var(--foreground-tertiary);
  font-size: var(--text-label-small);
}
