html {
  --preloadPageBackground: var(--colorGray150, #f4f4f4);
  --preloadTextColor: var(--colorGray800, #232526);
  --preloadLinkColor: var(--colorBlue600, #2b64ac);
  --preloadLinkColorActive: var(--colorBlue450, #438ae1);
  background: var(--colorCanvasBackground, #f4f4f4);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    --preloadPageBackground: var(--colorGray800, #232526);
    --preloadTextColor: var(--colorGray150, #f4f4f4);
    --preloadLinkColor: var(--colorBlue450, #438ae1);
    --preloadLinkColorActive: var(--colorBlue600, #2b64ac);
    background: var(--colorCanvasBackground, #232526);
  }
}

.tana-preload {
  display: none;
}
.tana-preload .screen {
  font-family:
    InterVariable,
    -apple-system,
    'system-ui',
    'Segoe UI',
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  justify-content: center;
  align-items: center;
  background-color: var(--preloadPageBackground);
  color: var(--preloadTextColor);
}

.tana-preload .screen.active {
  display: flex;
}

.tana-preload .screen hr {
  border: 0;
  border-top: 1px solid var(--preloadTextColor);
  margin: 1rem 0;
  opacity: 0.25;
}
.tana-preload .screen .content {
  margin: 1rem;
  width: 100%;
  max-width: 30rem;
}
.tana-preload .screen .heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.tana-preload .screen .downloadLinks {
  display: flex;
  gap: 0.75em;
}
.tana-preload .screen .downloadLinks a {
  color: var(--preloadLinkColor);
  text-decoration: none;
}
.tana-preload .screen .downloadLinks a:hover {
  text-decoration: underline;
}
.tana-preload .screen .downloadLinks a:active {
  opacity: 0.5;
}

/* Define the button style */
.tana-preload button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--preloadLinkColor);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

/* Define button hover effect */
.tana-preload button:hover {
  outline: 1px solid var(--preloadTextColor);
}

/* Define button active effect (when clicked) */
.tana-preload button:active {
  background-color: var(--preloadLinkColorActive);
}
