.rename-resource-dialog {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
  background: var(--surface-secondary);
  border-radius: var(--radius-xxl);
  padding: var(--space-12);
  box-shadow: var(--shadow-inset-default), var(--shadow-md);
}

.rename-resource-dialog__header {
  font-size: var(--text-body);
  font-weight: var(--fw-bold);
  color: var(--foreground-primary);
}

.rename-resource-dialog__actions {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: var(--space-12);
}

.rename-resource-dialog__actions .button {
  flex: 1;
}
