.section {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}
.section--expanded {
  padding-bottom: var(--space-8);
}

.section__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}
