.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: center;
}
.breadcrumb-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-6);

  color: var(--text-secondary);
  background: transparent;
  border: none;
  border-radius: var(--radius-lg);
  padding-right: var(--space-8);

  cursor: pointer;

  height: var(--height-md);
  max-width: 160px;
}
.breadcrumb-item--title {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: start;

  font-size: var(--text-body-small);
  line-height: var(--lh-body-small);
  letter-spacing: var(--ls-body-small);
}

.breadcrumb-item:hover {
  background: var(--state-hover);
}

.breadcrumb-item--icon {
  aspect-ratio: 1;
  padding: 0;
}

.breadcrumb__slash {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 100%;
  color: var(--text-placeholder);
}
.breadcrumb__slash svg {
  flex-shrink: 0;
}
