.breadcrumb {
  display: flex;
  align-items: center;
  gap: var(--space-2);

  background: none;
  border: none;
  padding: 0;

  cursor: pointer;
}

.breadcrumb__icon {
  display: flex;
}

.breadcrumb__title {
  white-space: nowrap;
}

.breadcrumb__slash {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8px;
  height: 100%;
  opacity: var(--opacity-strong);
}
.breadcrumb__slash svg {
  flex-shrink: 0;
}
