.note-list-grid {
  display: flex;
  flex-direction: column;

  gap: var(--space-0);
}

.note-list-grid__new-note .collection-entry__title {
  color: var(--foreground-tertiary);
  font-weight: var(--fw-regular);
}
