.tabs {
  display: flex;
  gap: var(--space-1);
  height: fit-content;
}
.tabs--filled {
  border-radius: var(--radius-lg);
  border: 0;
  background: var(--surface-subtle);
  padding: var(--space-2);
}
.tabs--ghost {
  background: transparent;
  padding: var(--space-0);
}
.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--height-lg);
  min-width: var(--height-lg);
  width: 100%;
  padding: 0;
  gap: var(--space-6);
  background: transparent;
  color: var(--foreground-tertiary);
  border-radius: var(--radius-md);
  border: 0px solid transparent;

  font-size: var(--text-label);

  cursor: pointer;

  transition:
    background-color 160ms ease,
    color 160ms ease,
    border-color 160ms ease;
}

.tab:hover {
  color: var(--foreground-primary);
}

.tab--active {
  background: var(--tab-selected-surface);
  color: var(--foreground-primary);
  box-shadow: var(--shadow-inset-thin), var(--shadow-md);
}
