.tabs {
  display: flex;
  gap: var(--space-1);
  height: fit-content;
}
.tabs--filled {
  border-radius: var(--radius-lg);
  border: 0;
  background: var(--surface-tertiary);
  padding: var(--space-1);
}
.tabs--ghost {
  background: transparent;
  padding: var(--space-0);
}
.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--height-lg);
  min-width: var(--height-lg);
  width: 100%;
  padding: 0;
  background: transparent;
  color: var(--text-tertiary);
  border-radius: var(--radius-md);
  border: 1px solid transparent;

  cursor: pointer;

  transition:
    background-color 160ms ease,
    color 160ms ease,
    border-color 160ms ease;
}

.tab:hover {
  color: var(--text-primary);
}
/* .tab:active {
  background: var(--surface);
} */

.tab--active {
  background: var(--tab-active);
  color: var(--text-primary);
  border: 1px solid var(--border-default);
}
