.button {
  border: 0;
  padding: 0;
  cursor: pointer;
  color: var(--foreground-secondary);
  font-size: var(--text-body-small);

  transition:
    background-color 160ms ease,
    color 160ms ease,
    border-color 160ms ease;
}
.button__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--btn-gap-md);
}

/* Size */
.button--large {
  height: var(--height-lg);
  padding-inline: var(--space-6);
  border-radius: var(--radius-lg);
}
.button--medium {
  height: var(--height-md);
  padding-inline: var(--space-6);
  border-radius: var(--radius-lg);
}
.button--small {
  height: var(--height-sm);
  padding-inline: var(--space-6);
  border-radius: var(--radius-sm);
}

/* Variant */
.button--filled {
  background: var(--surface-subtle);
}
.button--outlined {
  background: transparent;
  box-shadow: var(--shadow-inset-default);
}
.button--ghost {
  background: transparent;
}
.button--outline-fill {
  background: var(--surface-subtle);
  box-shadow: var(--shadow-inset-default);
}
.button--subtle {
  background: transparent;
  transition: color 160ms ease;
}
.button--icon {
  aspect-ratio: 1;
  padding: 0;
}
.button--primary {
  background: var(--surface-inverse);
  color: var(--foreground-inverse);
}

/* State */
.button:not(:disabled):hover {
  background: var(--state-hover);
}
.button:not(:disabled):active {
  background: var(--state-pressed);
}
.button--active {
  background: var(--state-selected);
}
.button:disabled {
  opacity: var(--opacity-disabled);
  cursor: default;
}
.button--ghost.button--subtle:not(:disabled):hover {
  background: transparent;
  color: var(--foreground-primary);
}

.button--muted .button__content {
  color: var(--foreground-tertiary);
  justify-content: start;
}
