.collection-entry-properties {
  --collection-media-width: var(--space-32);
  --collection-media-height: var(--space-20);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--space-6);

  color: var(--foreground-secondary);
  font-size: var(--text-label-small);
  line-height: var(--lh-label);
}
