.page__cover {
  width: calc(20vw + var(--border-radius));
  flex-shrink: 0;

  position: relative;
  z-index: 1;
  overflow: hidden;

  border-radius: 0 var(--border-radius) var(--border-radius) 0;

  margin-left: calc(var(--border-radius) * -1);
}

.page-cover__image {
  height: 100%;
  width: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
