.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: center;
}
.breadcrumb__slash {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 100%;
  color: var(--foreground-tertiary);
}
.breadcrumb__slash svg {
  flex-shrink: 0;
}
