.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: center;
}
.breadcrumb__slash {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6px;
  height: 100%;
  color: var(--foreground-tertiary);
  opacity: var(--opacity-strong);
}
.breadcrumb__slash svg {
  flex-shrink: 0;
}
