.collection-list-row {
  align-items: center;
  border-radius: var(--radius-lg);
  width: 100%;
  padding-inline-end: var(--space-6);
}
.collection-list-row .collection-entry__primary {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  align-items: center;
  gap: var(--space-12);

  min-width: 0;
}
/* .collection-list-row .collection-entry__title, */
.collection-list-row .collection-entry__description {
  overflow: hidden;
  min-width: 0;

  white-space: nowrap;
  text-overflow: ellipsis;
}
.collection-list-row .collection-entry__content {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-12);
  min-width: 0;
}
.collection-list-row .collection-entry__metadata {
  min-height: var(--height-sm);
  flex-shrink: 0;
  overflow: visible;
}

.collection-list-row:hover,
.collection-table__new-item:hover {
  background: var(--state-hover-medium);
}

/* Show the checkbox when hovering anywhere on the row */
.collection-list-row:hover
  .collection-list-row__entry.collection-entry--selectable
  .collection-entry__icon,
.collection-list-row:hover
  .collection-list-row__entry.collection-entry--selectable
  .collection-entry__emoji {
  display: none;
}

.collection-list-row:hover
  .collection-list-row__entry.collection-entry--selectable
  .collection-entry__leading
  .checkbox {
  display: flex;
}

.collection-list-row:has(.collection-entry--selected) {
  background: rgba(35, 131, 226, 0.15);
}
