.view {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  flex: 1;
  min-height: 0;
  overflow: visible;
}
.view--navigation {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
  padding-inline: var(--sidebar-padding-inline);
}
.view--content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: var(--space-8);
  padding-inline: var(--sidebar-padding-inline);
  padding-bottom: 36px;
}

.view--navigation .section--expanded {
  padding-bottom: var(--space-0);
}

/* Creates a gradient fade at the bottom */
.view::before {
  content: '';
  position: absolute;
  left: var(--sidebar-padding-inline);
  right: var(--sidebar-padding-inline);
  bottom: 0;
  height: 36px;
  pointer-events: none;
  background: linear-gradient(to bottom, transparent, var(--surface-secondary));
  z-index: 2;
}
