.view {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  flex: 1;
  min-height: 0;
  overflow: visible;
}
.view--navigation {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
  padding-inline: var(--sidebar-padding-inline);
}
.view--content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: var(--space-8);
  padding-inline: var(--sidebar-padding-inline);
}
.view--navigation .section--expanded {
  padding-bottom: var(--space-0);
}
