:root {
  --border-radius: var(--radius-lg);
}

.page {
  display: flex;
  height: 100%;
  width: 100%;

  border-radius: var(--border-radius);
}

.page__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;

  position: relative;
  z-index: 2;

  background: var(--surface-primary);
  box-shadow: inset 0 0 0 1px var(--border-default);
  border-radius: var(--border-radius);
}

.page__cover {
  width: calc(20vw + var(--border-radius));
  flex-shrink: 0;

  position: relative;
  z-index: 1;
  overflow: hidden;

  border-radius: 0 var(--border-radius) var(--border-radius) 0;

  margin-left: calc(var(--border-radius) * -1);
}
