:root {
  --border-radius: var(--radius-md);
}

.page {
  display: flex;
  height: 100%;
  width: 100%;

  border-radius: var(--border-radius);
  box-shadow: var(--shadow-border-default);
}

.page__document {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;

  position: relative;
  z-index: 2;

  background: var(--surface-primary);
  box-shadow: inset 0 0 0 1px var(--border-default);
  border-radius: var(--border-radius);
}

.page__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;

  position: relative;

  gap: var(--space-32);
}

.page__header,
.page__body {
  display: flex;
  align-items: center;
  justify-content: center;
}
