.note-table-row {
  position: relative;
  display: grid;
  align-items: center;
  gap: var(--space-0);
  width: fit-content;
  min-width: 100%;

  /* border-radius: var(--radius-lg); */
  grid-template-columns: var(--collection-table-column);
}
.note-table-row:hover,
.note-table__new-note:hover {
  background: var(--state-hover-medium);
}
.note-table-row::after,
.note-table__new-note::after {
  content: '';
  position: absolute;
  top: 0;
  left: var(--collection-table-divider-offset);
  right: var(--collection-table-divider-offset);
  height: 1px;
  background: var(--border-default);
}

/* .note-table-row:not(:has(.collection-entry--selected)):hover::after,
.note-table-row:not(:has(.collection-entry--selected)):hover
  + .note-table-row:not(:has(.collection-entry--selected))::after,
.note-table__new-note:hover::after {
  opacity: 0;
} */

.note-table__new-note {
  padding-block: var(--space-8);
}
.note-table__new-note .collection-entry__title {
  color: var(--foreground-tertiary);
  font-weight: var(--fw-regular);
}
.note-table__new-note .collection-entry__leading {
  color: var(--foreground-secondary);
}

/* Show the checkbox when hovering anywhere on the row */
.note-table-row:hover
  .note-table-row__entry.collection-entry--selectable
  .collection-entry__icon,
.note-table-row:hover
  .note-table-row__entry.collection-entry--selectable
  .collection-entry__emoji {
  display: none;
}

.note-table-row:hover
  .note-table-row__entry.collection-entry--selectable
  .collection-entry__leading
  .checkbox {
  display: flex;
}

/* Selection background */
.note-table-row:has(.collection-entry--selected) {
  background: rgba(35, 131, 226, 0.15);
}
.note-table-row .collection-entry--selected {
  background: transparent;
}
