.note__title {
  color: inherit;
}

.note__title--placeholder {
  color: var(--text-secondary);
}
/* .note__icon {
  color: var(--icon-tertiary);
}
.entry-selected .note__icon,
.entry-active .note__icon {
  color: inherit;
} */
