:root {
  --calendar-surface: var(--surface-subtle);
  --calendar-foreground: var(--foreground-secondary);
  --calendar-muted-foreground: var(--foreground-placeholder);
  --calendar-today-foreground: var(--calendar-accent);
  --calendar-weekday-foreground: var(--foreground-tertiary);

  --calendar-hover-surface: var(--state-hover);
  --calendar-selected-surface: var(--state-selected);
  --calendar-selected-foreground: var(--foreground-primary);
  --calendar-today-selected-surface: var(--calendar-accent);
  --calendar-today-selected-foreground: var(--calendar-on-accent-foreground);
}

.calendar {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--space-4);
}
.calendar-view {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.calendar-toggle {
  display: flex;
  align-items: start;
  justify-content: center;
  height: var(--height-xs);
}
.calendar-toggle--button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: var(--height-xs);

  border: 0;
  background: transparent;

  cursor: pointer;
}
.calendar-toggle--bar {
  width: 48px;
  height: 6px;
  background: var(--calendar-surface);

  border-radius: 999px;
  transition: width 300ms ease;
}
.calendar-toggle--button:hover .calendar-toggle--bar {
  width: 40px;
}
