.image-picker {
  display: flex;
  flex-direction: column;
  background: var(--surface-secondary);
  border-radius: var(--radius-xxl);
  gap: var(--space-12);
  padding-block: var(--space-12);
  box-shadow: var(--shadow-inset-default), var(--shadow-xl);
}
.image-picker__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--text-body);
  color: var(--foreground-secondary);
  padding-left: calc(var(--space-12) + 6px);
  padding-right: var(--space-12);
}
.image-picker__tabs {
  width: 100%;
  padding-inline: var(--space-12);
}

.image-picker__buttons {
  display: flex;
  gap: var(--space-8);
  padding-inline: var(--space-12);
}
.image-picker__button {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  height: 64px;
  width: 100%;
  box-shadow: var(--shadow-inset-default);
  border-radius: var(--radius-lg);
  background: var(--surface-subtle);
  color: var(--foreground-secondary);
  font-size: var(--text-label-small);
}
.image-picker__button:hover {
  background-color: var(--state-selected);
  color: var(--foreground-primary);
}
.image-picker__button--selected {
  background: var(--state-selected);
  color: var(--foreground-primary);
}

.input__hint {
  font-size: var(--text-label-small);
  font-weight: var(--fw-thin);
  line-height: var(--lh-label-small);
  color: var(--foreground-tertiary);
  text-align: center;
  opacity: var(--opacity-medium);
}
