.folder-picker {
  display: flex;
  flex-direction: column;
  background: var(--surface-secondary);
  border-radius: var(--radius-xxl);
  padding: var(--space-12);

  box-shadow: var(--shadow-inset-default), var(--shadow-md);
  gap: var(--space-12);
}

.folder-picker__list {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}
.folder-picker__item {
  padding-block: var(--space-6);
  align-items: start;
  height: fit-content;
}

.folder-picker__content {
  display: flex;
  justify-content: start;
  flex-direction: column;
}
.create__icon {
  color: var(--sidebar-icon-foreground);
}
.folder-picker__title {
  color: var(--foreground-primary);
}
.folder-picker__path {
  font-size: var(--text-label-small);
  line-height: var(--lh-label-small);
  color: var(--foreground-tertiary);
}
.folder-picker__create {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--space-6);
}
