.view {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}
.view--navigation {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}
.view--content {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  overflow-y: scroll;
}
